@{
    ViewData["Title"] = "Receta";
}

<section class="respuesta">
    <h1>Resultado de la Búsqueda</h1>
    <div class="respuesta">
        <h2>El nombre del cocinero es: <strong>@ViewBag.Nombre</strong></h2>
        <h2>La edad del cocinero es: <strong>@ViewBag.Edad</strong></h2>
        <h2>El plato recomendado es: <strong>@ViewBag.Plato</strong></h2>
        <h2>El tiempo estimado es: <strong>@ViewBag.Tiempo minutos</strong> </h2>
        <h2>La dificultad es: <strong>@ViewBag.Dificultad</strong></h2>
        <h2>La cantidad de comensales es: <strong>@ViewBag.cantidadComensales</strong></h2>
    </div>
</section>